.groups_page {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.add_group {
  margin: 0.8rem;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(201, 201, 201);
  border-radius: 15px;
}
.add_group:hover {
  cursor: pointer;
}
