.lable {
  margin: 0.3rem;
}
.error {
  margin: 0;
  color: #ffffff;
  font-size: 0.8rem;
}
.register > input {
  margin: 0;
  background-color: #ffffff;
}
.register_btn {
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.register_btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #c8963e;
}
